html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

html::-webkit-scrollbar{
    width: 10px;
    height: 1px;

}

html::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0);
}

body{
    background-color: var(--bg-color) !important;
    overflow: overlay;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

:root{

    --bg-color: black;
    --font-color: white;
    --bg-image: url(image/bg_night.jpg);
    --hover-color: aquamarine;
    --icon-color: white;
}

/* color mode */
.light-theme{

    --bg-color: white;
    --font-color: black;
    --bg-image: url(image/bg_day.jpg);
    --hover-color: aquamarine;
    --icon-color: black;
}


/* navbar start */
.bar{
    height: 100vh;
    width: 100%;
    background-image: var(--bg-image);
    background-size: cover;
  
}

nav{
    display: flex;
    /* justify-content: right; */
    padding-top: 45px;
    padding-right: 150px;
    text-align: right;
    align-content: right;
    position: fixed;
    top: 0;
    width: 100%;
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 35px ;
}

nav ul li a{
    color:var(--font-color);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
}

nav ul li i{
    color: var(--icon-color);
    size: 20px;
    cursor: pointer;
}

nav ul li a:hover,
nav ul li i:hover{
    color: var(--hover-color);
    transition: .4s;
    text-decoration: none;
}
/* navbar end */

/* intro start */
.content{
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translateY(-50);
}

.content h1{
    color: var(--font-color);
    margin: 20px 0px 20px;
    font-size: 90px;
}

.content h3{
    color: var(--font-color);
    margin-bottom: 50px;
    font-size: 35px;
}

.content h4{
    color: var(--font-color);
    letter-spacing: 2px;
    font-size: 20px;
}
/* intro end */

/* About start */
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .main{
    max-width: 95%;
    margin: 0 auto;
    align-content: center;
}

.about-text{
    width: 550px;
    text-align: center;
}

.about-text h2{
    color: var(--font-color);
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: var(--font-color);
    font-size: 40px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: var(--font-color);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
}
/* About end */

/* project start */
.projects{
    width: 100%;
    padding: 100px 0px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projects .main{
    width: 70%;
}

.projects h2{
    color: var(--font-color);
    text-align: center;
    font-size: 75px;
    padding: 5px;
    margin-bottom: 30px;
}

.projects .row {
    display: flex;
    margin-bottom: 20px;
}

.projects .column{
    flex: 50%;
    padding: 5px;
    width: auto;
}

.projects .column .col-img img{
    outline: none;
    border-color: var(--hover-color);
    box-shadow: 0 0 20px var(--hover-color);
    width: 100%;
    border-radius: 10px;
}

.projects .column .col-title h3{
    color: var(--font-color);
    font-size:50px;
    padding: 5px;
    
}

.projects .column .col-description p{
    color: var(--font-color);
    font-size: 18px;
    padding: 5px 20px 0px 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    line-height: 28px;
}

.projects .column .col-button .but{
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: var(--font-color);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    margin: 0px 0px 10px 20px;
}

.projects .column .col-button .but:hover,
.projects .column .col-button .but:focus{
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.projects .column .col-button .but:hover{
    transform: translateY(-1px);
}

.projects .column .col-button .but:active{
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
/* project end */

/* contact start */

.contact{
    width: 100%;
    padding: 100px 0px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact .main {
    box-sizing: border-box;
    width: 70%;
}

.contact .con-title h3{
    width: 100%;
    color: var(--font-color);
    font-size: 70px;
    padding: 5px;
    margin-bottom: 50px;
    text-align: center;
}

.contact .row{
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.contact .column{
    flex: 33.33%;
    padding: 5px;
    width: auto;
}

.contact .column a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 50px;
    padding: 20px;
    border-radius: 5px;
}

.contact .column a:hover {
    color: var(--bg-color);
    transition: .4s;
    background-color: var(--font-color);
    font-weight: bold;
}

/* contact end */

/* footer start */

.footer  {
    width: 100%;
    /* padding: 30px 0px; */
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer p {
    color: var(--font-color);
}

/* footer end */

/* condiments start*/

hr{
    text-align: center;
    width: 50%;
    background-color: var(--font-color);
    height: 5px;
    border: none;
    margin: auto;
}

/* condiments end */